# THE URL FOR DATABASE CONNECTION
DATABASE_URL=mysql://USERNAME:PASSWORD@SERVER_IP/DATABASE_NAME

# ACCESS TOKEN FOR JWT
ACCESS_TOKEN_SECRET=TOKEN

# A PATH FOR STORING FILES
FILE_STORE_LOCATION="/SOME/PATH"

# A PATH FOR STORING DELETED FILES
# YOU COULD SETUP A CRONTAB IF REAL DELETION IS NEEDED
DELETED_FILE_LOCATION="/SOME/PATH"