<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file uploader</title>
</head>

<body>
    <h1>File Uploader</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="fileContent">
        <button id="upload-button">Subbbmit</button>
    </form>
</body>
<script>
    const handleFileUpload = (event) => {
        event.preventDefault();
        var fileUpload = document.getElementById("fileUpload");
        if (typeof (fileUpload.files) != "undefined") {
            var size = parseFloat(fileUpload.files[0].size / 1024).toFixed(2);
            alert(size + " KB.");
        } else {
            console.log(111)
        }
        console.log("STOP")
    }
    document.querySelector("#upload-button").addEventListener("click", handleFileUpload)
</script>

</html>